.root {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  height: auto;
  min-height: 40px;
}
.root.sm {
  padding: 8px;
}
.root.md {
  padding: 8px 12px;
}
.root.lg {
  padding: 8px 32px;
}
.root.xl {
  padding: 8px 72px;
}
.root.xxl {
  padding: 8px 192px;
}
.root.square {
  width: 40px;
  padding: 0;
}

.root[data-disabled="true"], 
.root[data-disabled="true"]:hover {
  background: var(--black-92-solid);
  color: var(--black-60-solid);
}

.default {
  background: var(--pink);
  color: var(--white);
}
.default:hover {
  background: var(--black-20-solid);
}

.positive {
  background: var(--green);
  color: var(--white);
}
.positive:hover {
  background: var(--black-20-solid);
}

.negative {
  background: var(--red);
  color: var(--white);
}
.negative:hover {
  background: var(--black-20-solid);
}

.grey {
  background: var(--black-92-solid);
  color: var(--black-20-solid);
}
.grey:hover {
  background: var(--black-90-solid);
}
.grey-red {
  background: var(--black-92-solid);
  color: var(--pink);
}
.grey-red:hover {
  background: var(--pink);
  color: var(--white);
}

.dropdown {
  background: var(--black-90-solid);
  color: var(--black-20-solid);
  justify-content: flex-start;
}
.dropdown:hover {
  background: var(--black-80-solid);
}

.ghost-default {
  background: none;
  color: var(--pink);
  box-shadow: inset 0 0 0 1px var(--pink);
}
.ghost-default:hover {
  background: var(--black-20-solid);
  color: var(--white);
  box-shadow: inset 0 0 0 1px var(--black-20-solid);
}

.ghost-positive {
  background: none;
  color: var(--green);
  box-shadow: inset 0 0 0 1px var(--green);
}
.ghost-positive:hover {
  background: var(--black-20-solid);
  color: var(--white);
  box-shadow: inset 0 0 0 1px var(--black-20-solid);
}
.ghost-black {
  background: none;
  color: var(--black-20-solid);
  box-shadow: inset 0 0 0 1px var(--black-20-solid);
}
.ghost-black:hover {
  background: var(--black-90-solid);
  box-shadow: inset 0 0 0 1px var(--black-20-solid);
}
.black {
  background: var(--black-20-solid);
  color: var(--white);
}
.black:hover {
  background: var(--pink);
  color: var(--white);
}
.pink-red {
  background: var(--pink-8-opac);
  color: var(--pink);
}
.pink-red:hover {
  background: var(--white);
  color: var(--black-20-solid);
  box-shadow: inset 0 0 0 1px var(--black-20-solid);
}
