.components-form {
    align-items: center;
    border-radius: 8px;
    display: inline-flex;
    gap: 12px;
    justify-content: center;
    min-height: 44px;
    min-width: 44px;
    padding: 12px;
    position: relative;
}
  
  .components-form .contents {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 12px;
    justify-content: center;
    position: relative;
  }
  
  .components-form .link {
    font-family: var(--theme-1em-reg-titcase-font-family);
    font-size: var(--theme-1em-reg-titcase-font-size);
    font-style: var(--theme-1em-reg-titcase-font-style);
    font-weight: var(--theme-1em-reg-titcase-font-weight);
    letter-spacing: var(--theme-1em-reg-titcase-letter-spacing);
    line-height: var(--theme-1em-reg-titcase-line-height);
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .components-form.disabled {
    background-color: #efefef;
  }
  
  .components-form.active {
    background-color: #e0e0e0;
  }
  
  .components-form.default {
    background-color: #28a745;
  }
  
  .components-form.hover {
    background-color: #333333;
  }
  
  .components-form.disabled .link {
    color: #cccccc;
  }
  
  .components-form.active .link {
    color: #333333;
  }
  
  .components-form.default .link {
    color: #ffffff;
  }
  
  .components-form.hover .link {
    color: #ffffff;
  }
