:root {
  --dropdown: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  --editor-1em-reg-titcase-font-family: "Courier", Helvetica;
  --editor-1em-reg-titcase-font-size: 16px;
  --editor-1em-reg-titcase-font-style: normal;
  --editor-1em-reg-titcase-font-weight: 700;
  --editor-1em-reg-titcase-letter-spacing: 0px;
  --editor-1em-reg-titcase-line-height: 20px;
  --theme-0-75em-reg-uppcase-font-family: "Inter", Helvetica;
  --theme-0-75em-reg-uppcase-font-size: 12px;
  --theme-0-75em-reg-uppcase-font-style: normal;
  --theme-0-75em-reg-uppcase-font-weight: 400;
  --theme-0-75em-reg-uppcase-letter-spacing: -0.72px;
  --theme-0-75em-reg-uppcase-line-height: 20px;
  --theme-0-875em-lgt-titcase-font-family: "Inter", Helvetica;
  --theme-0-875em-lgt-titcase-font-size: 14px;
  --theme-0-875em-lgt-titcase-font-style: normal;
  --theme-0-875em-lgt-titcase-font-weight: 300;
  --theme-0-875em-lgt-titcase-letter-spacing: 0px;
  --theme-0-875em-lgt-titcase-line-height: 20px;
  --theme-0-875em-reg-titcase-font-family: "Inter", Helvetica;
  --theme-0-875em-reg-titcase-font-size: 14px;
  --theme-0-875em-reg-titcase-font-style: normal;
  --theme-0-875em-reg-titcase-font-weight: 400;
  --theme-0-875em-reg-titcase-letter-spacing: 0px;
  --theme-0-875em-reg-titcase-line-height: 20px;
  --theme-0-875em-reg-titcase-UL-font-family: "Inter", Helvetica;
  --theme-0-875em-reg-titcase-UL-font-size: 14px;
  --theme-0-875em-reg-titcase-UL-font-style: normal;
  --theme-0-875em-reg-titcase-UL-font-weight: 400;
  --theme-0-875em-reg-titcase-UL-letter-spacing: 0px;
  --theme-0-875em-reg-titcase-UL-line-height: 20px;
  --theme-0-875em-reg-uppcase-font-family: "Inter", Helvetica;
  --theme-0-875em-reg-uppcase-font-size: 14px;
  --theme-0-875em-reg-uppcase-font-style: normal;
  --theme-0-875em-reg-uppcase-font-weight: 400;
  --theme-0-875em-reg-uppcase-letter-spacing: 0px;
  --theme-0-875em-reg-uppcase-line-height: 20px;
  --theme-1-25em-lgt-titcase-font-family: "Inter", Helvetica;
  --theme-1-25em-lgt-titcase-font-size: 20px;
  --theme-1-25em-lgt-titcase-font-style: normal;
  --theme-1-25em-lgt-titcase-font-weight: 300;
  --theme-1-25em-lgt-titcase-letter-spacing: 0px;
  --theme-1-25em-lgt-titcase-line-height: normal;
  --theme-1em-reg-titcase-b-font-family: "Inter", Helvetica;
  --theme-1em-reg-titcase-b-font-size: 16px;
  --theme-1em-reg-titcase-b-font-style: normal;
  --theme-1em-reg-titcase-b-font-weight: 700;
  --theme-1em-reg-titcase-b-letter-spacing: 0px;
  --theme-1em-reg-titcase-b-line-height: 20px;
  --theme-1em-reg-titcase-font-family: "Inter", Helvetica;
  --theme-1em-reg-titcase-font-size: 16px;
  --theme-1em-reg-titcase-font-style: normal;
  --theme-1em-reg-titcase-font-weight: 400;
  --theme-1em-reg-titcase-letter-spacing: 0px;
  --theme-1em-reg-titcase-line-height: 20px;
  --theme-1em-reg-titcase-UL-font-family: "Inter", Helvetica;
  --theme-1em-reg-titcase-UL-font-size: 16px;
  --theme-1em-reg-titcase-UL-font-style: normal;
  --theme-1em-reg-titcase-UL-font-weight: 400;
  --theme-1em-reg-titcase-UL-letter-spacing: 0px;
  --theme-1em-reg-titcase-UL-line-height: 20px;
}
