:root {
  --black-20-solid: #333333;
  --black-40-solid: #666666;
  --black-60-solid: #999999;
  --black-80-solid: #cccccc;
  --black-86-solid: #dbdbdb;
  --black-90-solid: #e5e5e5;
  --black-92-solid: #ebebeb;
  --black-94-solid: #f0f0f0;
  --black-96-solid: #f5f5f5;
  --black-97-solid: #f7f7f7;
  --black-98-solid: #fafafa;
  --black-99-solid: #fcfcfc;
  --black-8-opac: #e6e6e6;
  --black-6-opac: #0000000f;
  --black-4-opac: #0000000a;
  --black-2-opac: #00000005;
  --purple: #331e38;
  --logo-1: #f5928a;
  --logo-2: #ff6a7d;
  --logo-3: #ff455d;
  --orange-dark: #80300b;
  --orange: #ff5f15;
  --orange-12-opac: #ff5f151f;
  --orange-4-opac: #ff5f150a;
  --orange-80-solid: #ff7f44;
  --blue-dark: #044b7e;
  --blue: #0895fb;
  --blue-12-opac: #0895fb1f;
  --blue-4-opac: #0895fb0a;
  --blue-80-solid: #3aaafc;
  --green-dark: #265b22;
  --green: #4bb543;
  --green-4-opac: #4bb5430a;
  --pink-dark: #80232f;
  --pink: #ff455d;
  --pink-8-opac: #ff455d14;
  --pink-4-opac: #ff455d0a;
  --red: #b90018;
  --red-16-opac: #b9001829;
  --red-4-opac: #b900180a;
  --white: #ffffff;
  --white-6-opac: #ffffff0f;
  --white-20-opac: #ffffff33;
  --white-80-opac: #ffffffcc;
  --white-96-opac: #fffffff5;
  --transparent: #ffffff00;
  --hm-red: #f15b40;
  --guide-100: #9747ff;
  --guide-50: #9747ff80;
  --guide-25: #9747ff40;
  --hm-orange: #f58220;
  --hm-yellow: #ffc20e;
  --hm-light-green: #b2d34a;
  --hm-dark-green: #62bb46;
  --dropdown: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  --editor-1em-reg-titcase-font-family: 'Courier', Helvetica;
  --editor-1em-reg-titcase-font-size: 16px;
  --editor-1em-reg-titcase-font-style: normal;
  --editor-1em-reg-titcase-font-weight: 700;
  --editor-1em-reg-titcase-letter-spacing: 0px;
  --editor-1em-reg-titcase-line-height: 20px;
  --theme-0-75em-reg-uppcase-font-family: 'Inter', Helvetica;
  --theme-0-75em-reg-uppcase-font-size: 12px;
  --theme-0-75em-reg-uppcase-font-style: normal;
  --theme-0-75em-reg-uppcase-font-weight: 400;
  --theme-0-75em-reg-uppcase-letter-spacing: -0.72px;
  --theme-0-75em-reg-uppcase-line-height: 20px;
  --theme-0-875em-lgt-titcase-font-family: 'Inter', Helvetica;
  --theme-0-875em-lgt-titcase-font-size: 14px;
  --theme-0-875em-lgt-titcase-font-style: normal;
  --theme-0-875em-lgt-titcase-font-weight: 300;
  --theme-0-875em-lgt-titcase-letter-spacing: 0px;
  --theme-0-875em-lgt-titcase-line-height: 20px;
  --theme-0-875em-reg-titcase-font-family: 'Inter', Helvetica;
  --theme-0-875em-reg-titcase-font-size: 14px;
  --theme-0-875em-reg-titcase-font-style: normal;
  --theme-0-875em-reg-titcase-font-weight: 400;
  --theme-0-875em-reg-titcase-letter-spacing: 0px;
  --theme-0-875em-reg-titcase-line-height: 20px;
  --theme-0-875em-reg-titcase-UL-font-family: 'Inter', Helvetica;
  --theme-0-875em-reg-titcase-UL-font-size: 14px;
  --theme-0-875em-reg-titcase-UL-font-style: normal;
  --theme-0-875em-reg-titcase-UL-font-weight: 400;
  --theme-0-875em-reg-titcase-UL-letter-spacing: 0px;
  --theme-0-875em-reg-titcase-UL-line-height: 20px;
  --theme-0-875em-reg-uppcase-font-family: 'Inter', Helvetica;
  --theme-0-875em-reg-uppcase-font-size: 14px;
  --theme-0-875em-reg-uppcase-font-style: normal;
  --theme-0-875em-reg-uppcase-font-weight: 400;
  --theme-0-875em-reg-uppcase-letter-spacing: 0px;
  --theme-0-875em-reg-uppcase-line-height: 20px;
  --theme-1-25em-lgt-titcase-font-family: 'Inter', Helvetica;
  --theme-1-25em-lgt-titcase-font-size: 20px;
  --theme-1-25em-lgt-titcase-font-style: normal;
  --theme-1-25em-lgt-titcase-font-weight: 300;
  --theme-1-25em-lgt-titcase-letter-spacing: 0px;
  --theme-1-25em-lgt-titcase-line-height: normal;
  --theme-1em-reg-titcase-b-font-family: 'Inter', Helvetica;
  --theme-1em-reg-titcase-b-font-size: 16px;
  --theme-1em-reg-titcase-b-font-style: normal;
  --theme-1em-reg-titcase-b-font-weight: 700;
  --theme-1em-reg-titcase-b-letter-spacing: 0px;
  --theme-1em-reg-titcase-b-line-height: 20px;
  --theme-1em-reg-titcase-font-family: 'Inter', Helvetica;
  --theme-1em-reg-titcase-font-size: 16px;
  --theme-1em-reg-titcase-font-style: normal;
  --theme-1em-reg-titcase-font-weight: 400;
  --theme-1em-reg-titcase-letter-spacing: 0px;
  --theme-1em-reg-titcase-line-height: 20px;
  --theme-1em-reg-titcase-UL-font-family: 'Inter', Helvetica;
  --theme-1em-reg-titcase-UL-font-size: 16px;
  --theme-1em-reg-titcase-UL-font-style: normal;
  --theme-1em-reg-titcase-UL-font-weight: 400;
  --theme-1em-reg-titcase-UL-letter-spacing: 0px;
  --theme-1em-reg-titcase-UL-line-height: 20px;
}
